{%extends 'base.html'%}
{% block content %}
    

<div class="jumbotron">
  <h1>EIStracker</h1>      
  <p>The only web application tracking Environmental Impact Statements open for public comment.
  </p>
</div>

    <ul class="nav nav-tabs">
     <li class="nav-item">
        <a class="nav-link" href="#learn">Learn More</a>
     </li>
      <li class="nav-item">
        <a class="nav-link" href="#mymap">Open Projects Map</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="#news">EIS Newsfeed</a>
     </li>

      <li class="nav-item">
        <a class="nav-link" href="#about" data-tab="about">About EIStracker</a>

      </li>
    </ul>

    <section id="about" class="about-section">
      <div class="container">
        <div class="row">
            <h1>About EIStracker</h1>
            <div class="col-xs-12">
              <div class="about">
              <p> EIStracker is a web application designed to better inform the public of Environmental Impact Statements currently open for public comment. The data used was obtained from the EPA's <a href="https://cdxnodengn.epa.gov/cdx-enepa-public/action/eis/search">EIS Database</a>.
              </p>
              <p> This site was used for educational purposes only. For the most up to date information, please visit the EPA's EIS database. For inquiries regarding the technologies used and methodologies of the developer, please contact <a href="sonya.salimy@gmail.com">Sonya Salimy</a>. 
              </p>
              <p> 
              </div>
            </div>
        </div>
      </div>
    </section>

    <section id="learn" class="about-section">
      <div class="container">
        <div class="row">
            <h1>What is an EIS?</h1>
            <div class="col-xs-12">
              <div class="learn">
              <p>The National Environmental Policy Act (NEPA) was enacted in 1969 to promote the enhancement of the environment and establish the Council on Environmental Quality (CEQ). It requires federal agenices to assess the environmental effects of proposed actions prior to decision making. The environmental review under NEPA has three levels of analysis: 
                <li>Categorical Exlcusions determination(CATEX)</li>
                <li>Environmental Assessment/Finding of No Significant Impact(EA/FONSI)
                <li>Environmental Impact Statement(EIS)</li>
              </p>

              <p>An EIS is required for federal projects deemed to significantly impact the quality of the human environment. It is the most rigourous form of review for a project. Below is a summary of the EIS Process:
                <li>(1) An agency publishes a Notice of Intent in the Federal Registry. The Notice of Intent informs the public of an upcoming project for analysis and describes how the public can get involved.</li>
                <li>(2) A draft EIS is published for public review and comments are accepted for a minimum of 45 days.</li>
                <li>(3) A final EIS is then published, which provides response to comments. A 30-day wait period is issued before final decisions can be made, and the EPA announces the Notive of Availabilty for of both draft and final EISs to the public.</li>
                <li>(4) The EIS process ends with a Record of Decision (ROD) which explains the agency's decision.
                <li>(5) In the event of a significant project change, a supplement EIS may be required and the public may comment on draft and final documents for that additional review.</li>

              </p>
              <p> For more information on NEPA and EISs, please visit: <a href="https://ceq.doe.gov/">NEPA.gov</a>.
              </p>
              </div>
            </div>
        </div>
      </div>
    </section>

    <div id="map"></div>

    <div class="projectData"></div>

    <!-- twitter button api -->
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
      return t;
      }(document, "script", "twitter-wjs"));
    </script>

<!-- create functions to show maps/areas where code is repeated (DRY) -->
    <script> 
    $( document ).ready(function() {
    $('#map').show();
    $('#twitter').hide();
    $('#about').hide();
    $('#learn').hide();
    });
    </script>

    <!-- facebook button api -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- diplays maps and project info for state -->
    <script src = '/static/states_with_projects.js'></script>

    <!-- googemaps api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6VEBiqDbMmsZ4STInovtQdNwdqduCseI&callback=initMap"
    async defer></script>

    <!-- twitter timeline api -->
    <div class= "twitter-timeline-widget" id = "twitter"><a class="twitter-timeline"  href="https://twitter.com/hashtag/EnvironmentalImpactStatement" data-widget-id="999810728075771905">#EnvironmentalImpactStatement Tweets</a></div>

    <!-- calls twitter function -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



{% endblock %}