{%extends 'base.html'%}
{% block content %}
    

<div class="jumbotron">
  <h1>EIStracker</h1>      
  <p>The only application tracking Environmental Impact Statements open for public comment.</p>
</div>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="#about" data-tab="about">About EIStracker</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="#mymap">EIStracker Map</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="#news">EIS News</a>
     </li>
    </ul>

    <div id="about" class="justify-content-center align-items-center" style="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

    <div id="map"></div>

    <div class="projectData">
    
    </div>

    <!-- twitter button api -->
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
      return t;
      }(document, "script", "twitter-wjs"));
    </script>

<!-- create functions to show maps/areas where code is repeated (DRY) -->
    <script> 
    $( document ).ready(function() {
    $('#map').show();
    $('#twitter').hide();
    $('#about').hide();
    });
    </script>

    <!-- facebook button api -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- diplays maps and project info for state -->
    <script src = '/static/states_with_projects.js'></script>

    <!-- googemaps api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6VEBiqDbMmsZ4STInovtQdNwdqduCseI&callback=initMap"
    async defer></script>

    <!-- twitter timeline api -->
    <div class= "twitter-timeline-widget" id = "twitter"><a class="twitter-timeline"  href="https://twitter.com/hashtag/EnvironmentalImpactStatement" data-widget-id="999810728075771905">#EnvironmentalImpactStatement Tweets</a></div>

    <!-- calls twitter function -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



{% endblock %}